vim/.vim/black/
qtile/config.json
__pycache__/
.prettierrc
.netrwhist
compile_commands.json
cmake-build-debug/
.cache/
nvim/plugin/
*.o
./st/st.info
./st/st
./dwm/dwm
./dmenu/dmenu
./dmenu/stest
*.orig
*.rej
./dwm/config.h
