/*
* =================================================
*
*       Filename: {{FILE}}
*
*    Description:
*
*        Created: {{TODAY}}
*
*        Author:  {{NAME}} ({{EMAIL}})
*
*
* =================================================
*/

#include <stdio.h>

int
main()
{
    // Do something
    return 0;
}
